{
  "semi": false,
  "overrides": [
    {
      "files": ["src/**/*.js", "src/**/*.jsx"],
      "options": {
        "singleQuote": true,
        "jsxSingleQuote": true,
        "tabWidth": 2,
        "bracketSpacing": true,
        "bracketSameLine": true,
        "arrowParens": "always"
      }
    },
    {
      "files": ["src/**/*.module.scss", "src/**/*.scss"],
      "options": {
        "semi": true,
        "tabWidth": 4
      }
    }
  ]
}
